@using TextRPG.Web.Rendering

<div class="menu-overlay">
    <button class="menu-btn start-btn" @onclick="OnStartNewGame">[1] Iniciar Aventura</button>
    @if (HasSavedGame)
    {
        <button class="menu-btn" @onclick="OnContinueGame">[2] Continuar partida</button>
    }
</div>

@code {
    [Parameter] public bool HasSavedGame { get; set; }
    [Parameter] public EventCallback OnStartNewGame { get; set; }
    [Parameter] public EventCallback OnContinueGame { get; set; }
}
